In [199]:
# Exerice Car driving
command = ""
started = False
while True:
    command = input(">").lower()
    if command == "start":
        if started:
            print("Car is already started!")
        else:
            started = True
            print("the car has started...")
    elif command == "stop":
        if not started:
            print("Car is already stopped!")
        else:
            started = False
            print("The car has stopped.")
    elif command == "help":
        print("""
start - starts car
stop - stops car
quit - ends game
        """)
    elif command == "quit":
        break
    else:
        print("I'm sorry, I don't understand that.")

the car has started...
Car is already started!
The car has stopped.
Car is already stopped!

In [214]:
#Exerice Loop in a loop
for x in range(3):
    for y in range(3):
        print(f'({x}, {y})')

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)

In [210]:
#Exercise Using loop to calculate price
prices = [10, 20, 30]

total = 0

for price in prices:
    total += price
print("Total:" , total)

Total: 60

In [151]:
i = 1
while i < 6:
  if i == 3:
    break
  i += 1
print(i)

3

In [146]:
#Exercise Q5
ages = [15,13,16,18,19,15,10]
def age_checker(ages, age):
        return (int(age) in ages)
    
print(age_checker(ages, input("Please enter the age you would like to check: ")))

True

In [142]:
#Exercise Q4
def duplicate_remover():
    mylist = [15,13,16,18,19,15,10]
    mylist = list(dict.fromkeys(mylist))
    mylist.sort()
    print(mylist)

duplicate_remover()

[10, 13, 15, 16, 18, 19]

In [130]:
#Exercise Q3
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

combined_list = [x for x in berlin if x in munich]
combined_list.sort()
print(combined_list)

[10, 13, 15, 16, 18, 19]

In [143]:
#Exercise Q2 Age Finder
def age_find(l):
    ages_list = []
    from datetime import date
    today = date.today()
    curret_year = today.year
    for year in l:
        ages_list.append(curret_year - year)
        
    return (ages_list)

print(age_find([1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008, 2010]))

[24, 28, 18, 13, 16, 17, 29, 27, 44, 15, 13]

In [103]:
#Exercise Q1 Age Finder
def age_find(l):
    ages_list = []
    from datetime import date
    today = date.today()
    curret_year = today.year
    for year in l:
        ages_list.append(curret_year - year)
    return (ages_list)


print(age_find([1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008, 2010]))
print(age_find([-250,-300]))

[24, 28, 18, 13, 16, 17, 29, 27, 44, 15, 13]
[2273, 2323]

In [109]:
#Exercise using function to welcome students
student_list = ["Mohammed", "Rene", "Antonia", "Fariha", "Stefan", "Konstantin"]

def welcoming(student_list):
    return('welcome, ' + student_list)

for student in student_list:
    print(welcoming(student))

welcome, Mohammed
welcome, Rene
welcome, Antonia
welcome, Fariha
welcome, Stefan
welcome, Konstantin

In [195]:
#Exercise using a function to convert the dictionary into sentences
customer_name = [{'name': 'Henk', 'age' : '13', 'eyes' : 'green'}, 
                {'name':'John', 'age' : '15', 'eyes' : 'green'}, 
                {'name':'Max', 'age' : '19', 'eyes' : 'brown'}, 
                {'name':'Bob', 'age' : '11', 'eyes' : 'blue'}
                ]

def my_function(kid):
  return(kid['name'] + " and is " + kid['age'] + " years old and his eyes are " + kid['eyes'] + ".")

for children in customer_name:
    print(my_function(children))

Henk and is 13 years old and his eyes are green.
John and is 15 years old and his eyes are green.
Max and is 19 years old and his eyes are brown.
Bob and is 11 years old and his eyes are blue.

In [70]:
#Exercise using a function to complete the sentence
def my_function(**kid):
  print(kid["fname"] + " and is " + kid["age"] + " years old and his last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes", age = "12")
my_function(fname = "Tobias", lname = "Hanks", age = "11")

Tobias and is 12 years old and his last name is Refsnes
Tobias and is 11 years old and his last name is Hanks

In [40]:
#Exerise Name of Customer

customer_name = [{'name': 'Henk', 'age' : 13, 'eyes' : 'green'}, 
                {'name':'John', 'age' : 15, 'eyes' : 'green'}, 
                {'name':'Max', 'age' : 19, 'eyes' : 'brown'}, 
                {'name':'Bob', 'age' : 11, 'eyes' : 'blue'}]

for x in customer_name:
    print(x['name'], 'is', x['age'], 'years old and has', x['eyes'], 'eyes.')

Henk is 13 years old and has green eyes.
John is 15 years old and has green eyes.
Max is 19 years old and has brown eyes.
Bob is 11 years old and has blue eyes.

In [ ]:
#Exercise Age Finder
from datetime import date
year_list = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
today = date.today()
curret_year = today.year
year_list.sort()
year_list.reverse()

year_list.remove(year_list[0])
year_list.remove(year_list[-1])

for year in year_list:
    print(curret_year - year)

In [16]:
#favourite food
favourite_food = 'ice cream!'
print('my favorite food is', favourite_food)

my favorite food is ice cream!

In [194]:
#3 Hello X
print("Enter your name:")
x = input()
print("Hello, " + x)

Enter your name:
Hello, Ted

In [153]:
#YT training exercise

patient_list = {'fname' : 'John', 'lname' : 'Smith', 'age' : '20', 'gender' : 'male', 'eyes' : 'blue'}
print(patient_list)

{'fname': 'John', 'lname': 'Smith', 'age': '20', 'gender': 'male', 'eyes': 'blue'}

In [163]:
#YT training exercise 2
a = float(input())
b = float(input())

sum = a + b

print(sum)

12.3

In [196]:
# finding the letter
course = "The quick brown fox jumps over the lazy dog."
a = input()
b = course.find(a) + 1

print("The letter '" , a , "' is letter number " , b ,".")
print("fox" in course)

The letter ' f ' is letter number  17 .
True