In [186]:
# Import work
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

red_wine = (pd.read_csv('winequality-red.csv',  delimiter= ';'))
white_wine = pd.read_csv('winequality-white.csv', delimiter= ';')
all_wine = pd.concat([white_wine, red_wine], ignore_index=True)

In [187]:
# we are creating a new column called "quality_label", we define a range and associate that range with a label
red_wine['quality_label'] = red_wine['quality'].apply(lambda value: 'low'
if value <= 5 else 'medium'
if value <= 7 else 'high')

white_wine['quality_label'] = white_wine['quality'].apply(lambda value: 'low'
if value <= 5 else 'medium'
if value <= 7 else 'high')

# here we are transforming these labels into categrical data type (specific to pandas) instead of simple string
red_wine['quality_label'] = pd.Categorical(red_wine['quality_label'],
categories=['low', 'medium', 'high'])

white_wine['quality_label'] = pd.Categorical(white_wine['quality_label'],
categories=['low', 'medium', 'high'])

white_wine = white_wine.assign(wine_type='white')
red_wine = red_wine.assign(wine_type='red')





white_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,quality_label,wine_type
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,medium,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,medium,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,medium,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,medium,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,medium,white

In [188]:
rw = pd.DataFrame(red_wine)
ww = pd.DataFrame(white_wine)
aw = pd.DataFrame(all_wine)

In [189]:
for col in ww:
    ww.rename(columns={col: col.lower().replace(' ', '_')}, inplace=True)

for col in rw:
    rw.rename(columns={col: col.lower().replace(' ', '_')}, inplace=True)

In [190]:
pd.concat([ww.head(), ww.tail()])

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulphates,alcohol,quality,quality_label,wine_type
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6,medium,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6,medium,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6,medium,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,medium,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,medium,white
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,medium,white
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,low,white
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,medium,white
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,medium,white
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,medium,white

In [191]:
pd.concat([rw.head(), rw.tail()])

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulphates,alcohol,quality,quality_label,wine_type
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,low,red
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,low,red
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,low,red
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,medium,red
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,low,red
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,low,red
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,medium,red
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,medium,red
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,low,red
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,medium,red

In [192]:
pd.isnull(rw).sum()

fixed_acidity           0
volatile_acidity        0
citric_acid             0
residual_sugar          0
chlorides               0
free_sulfur_dioxide     0
total_sulfur_dioxide    0
density                 0
ph                      0
sulphates               0
alcohol                 0
quality                 0
quality_label           0
wine_type               0
dtype: int64

In [193]:
pd.isnull(ww).sum()

fixed_acidity           0
volatile_acidity        0
citric_acid             0
residual_sugar          0
chlorides               0
free_sulfur_dioxide     0
total_sulfur_dioxide    0
density                 0
ph                      0
sulphates               0
alcohol                 0
quality                 0
quality_label           0
wine_type               0
dtype: int64

In [194]:
round(rw.describe(),2)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulphates,alcohol,quality
count,1599.00,1599.00,1599.00,1599.00,1599.00,1599.00,1599.00,1599.00,1599.00,1599.00,1599.00,1599.00
mean,8.32,0.53,0.27,2.54,0.09,15.87,46.47,1.00,3.31,0.66,10.42,5.64
std,1.74,0.18,0.19,1.41,0.05,10.46,32.90,0.00,0.15,0.17,1.07,0.81
min,4.60,0.12,0.00,0.90,0.01,1.00,6.00,0.99,2.74,0.33,8.40,3.00
25%,7.10,0.39,0.09,1.90,0.07,7.00,22.00,1.00,3.21,0.55,9.50,5.00
50%,7.90,0.52,0.26,2.20,0.08,14.00,38.00,1.00,3.31,0.62,10.20,6.00
75%,9.20,0.64,0.42,2.60,0.09,21.00,62.00,1.00,3.40,0.73,11.10,6.00
max,15.90,1.58,1.00,15.50,0.61,72.00,289.00,1.00,4.01,2.00,14.90,8.00

In [195]:
round(ww.describe(),2)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulphates,alcohol,quality
count,4898.00,4898.00,4898.00,4898.00,4898.00,4898.00,4898.00,4898.00,4898.00,4898.00,4898.00,4898.00
mean,6.85,0.28,0.33,6.39,0.05,35.31,138.36,0.99,3.19,0.49,10.51,5.88
std,0.84,0.10,0.12,5.07,0.02,17.01,42.50,0.00,0.15,0.11,1.23,0.89
min,3.80,0.08,0.00,0.60,0.01,2.00,9.00,0.99,2.72,0.22,8.00,3.00
25%,6.30,0.21,0.27,1.70,0.04,23.00,108.00,0.99,3.09,0.41,9.50,5.00
50%,6.80,0.26,0.32,5.20,0.04,34.00,134.00,0.99,3.18,0.47,10.40,6.00
75%,7.30,0.32,0.39,9.90,0.05,46.00,167.00,1.00,3.28,0.55,11.40,6.00
max,14.20,1.10,1.66,65.80,0.35,289.00,440.00,1.04,3.82,1.08,14.20,9.00

In [196]:
round(pd.concat([rw.describe(), ww.describe()], axis=1, keys=["Red Wines Stats", "White Wines Stats"]),2)

#There seems to be a lot more residual sugar in white wine than there is in red wine
#The pH of both wines are very similar, but white wine is more acidic
#White wine has almost 3x more total sulfur dioxide than red wine

      Red Wines Stats                                                        \
        fixed_acidity volatile_acidity citric_acid residual_sugar chlorides
count         1599.00          1599.00     1599.00        1599.00   1599.00
mean             8.32             0.53        0.27           2.54      0.09
std              1.74             0.18        0.19           1.41      0.05
min              4.60             0.12        0.00           0.90      0.01
25%              7.10             0.39        0.09           1.90      0.07
50%              7.90             0.52        0.26           2.20      0.08
75%              9.20             0.64        0.42           2.60      0.09
max             15.90             1.58        1.00          15.50      0.61

                                                                            \
      free_sulfur_dioxide total_sulfur_dioxide  density       ph sulphates
count             1599.00              1599.00  1599.00  1599.00   1599.00
mean                15.87                46.47     1.00     3.31      0.66
std                 10.46                32.90     0.00     0.15      0.17
min                  1.00                 6.00     0.99     2.74      0.33
25%                  7.00                22.00     1.00     3.21      0.55
50%                 14.00                38.00     1.00     3.31      0.62
75%                 21.00                62.00     1.00     3.40      0.73
max                 72.00               289.00     1.00     4.01      2.00

       ... White Wines Stats                                               \
       ...       citric_acid residual_sugar chlorides free_sulfur_dioxide
count  ...           4898.00        4898.00   4898.00             4898.00
mean   ...              0.33           6.39      0.05               35.31
std    ...              0.12           5.07      0.02               17.01
min    ...              0.00           0.60      0.01                2.00
25%    ...              0.27           1.70      0.04               23.00
50%    ...              0.32           5.20      0.04               34.00
75%    ...              0.39           9.90      0.05               46.00
max    ...              1.66          65.80      0.35              289.00


      total_sulfur_dioxide  density       ph sulphates  alcohol  quality
count              4898.00  4898.00  4898.00   4898.00  4898.00  4898.00
mean                138.36     0.99     3.19      0.49    10.51     5.88
std                  42.50     0.00     0.15      0.11     1.23     0.89
min                   9.00     0.99     2.72      0.22     8.00     3.00
25%                 108.00     0.99     3.09      0.41     9.50     5.00
50%                 134.00     0.99     3.18      0.47    10.40     6.00
75%                 167.00     1.00     3.28      0.55    11.40     6.00
max                 440.00     1.04     3.82      1.08    14.20     9.00

[8 rows x 24 columns]