In [113]:
def dict_factory(cursor, row):
    fields = [column[0] for column in cursor.description]
    return {key: value for key, value in zip(fields, row)}

In [114]:
import sqlite3
con = sqlite3.connect("products.db")
con.row_factory = dict_factory
cur = con.cursor()

In [115]:
cur.execute("DROP TABLE IF EXISTS Manufacturers")
cur.execute("DROP TABLE IF EXISTS Products")

In [116]:
cur.execute("""
    CREATE TABLE IF NOT EXISTS Manufacturers (
      Code INTEGER,
      Name TEXT NOT NULL,
      PRIMARY KEY (Code)
    )
""")
cur.execute("""
    CREATE TABLE IF NOT EXISTS Products (
      Code INTEGER,
      Name TEXT NOT NULL,
      Price INTEGER NOT NULL,
      Manufacturer INTEGER NOT NULL,
      PRIMARY KEY (Code)
    )
""")

In [117]:
cur.executescript("""
INSERT INTO Manufacturers(Code,Name) VALUES(1,'Sony');
INSERT INTO Manufacturers(Code,Name) VALUES(2,'Creative Labs');
INSERT INTO Manufacturers(Code,Name) VALUES(3,'Hewlett-Packard');
INSERT INTO Manufacturers(Code,Name) VALUES(4,'Iomega');
INSERT INTO Manufacturers(Code,Name) VALUES(5,'Fujitsu');
INSERT INTO Manufacturers(Code,Name) VALUES(6,'Winchester');

INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(1,'Hard drive',240,5);
INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(2,'Memory',120,6);
INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(3,'ZIP drive',150,4);
INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(4,'Floppy disk',5,6);
INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(5,'Monitor',240,1);
INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(6,'DVD drive',180,2);
INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(7,'CD drive',90,2);
INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(8,'Printer',270,3);
INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(9,'Toner cartridge',66,3);
INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(10,'DVD burner',180,2);
""")

In [118]:
def run(cmd):
    r = cur.execute(cmd)
    display(r.fetchall())

## 1.1 Select the names of all the products in the store.

In [119]:
run("""
SELECT Name 
FROM Products
""")

[{'Name': 'Hard drive'},
 {'Name': 'Memory'},
 {'Name': 'ZIP drive'},
 {'Name': 'Floppy disk'},
 {'Name': 'Monitor'},
 {'Name': 'DVD drive'},
 {'Name': 'CD drive'},
 {'Name': 'Printer'},
 {'Name': 'Toner cartridge'},
 {'Name': 'DVD burner'}]

## 1.2 Select the names and the prices of all the products in the store.

In [120]:
run("""
SELECT Name 
FROM Manufacturers
""")

[{'Name': 'Sony'},
 {'Name': 'Creative Labs'},
 {'Name': 'Hewlett-Packard'},
 {'Name': 'Iomega'},
 {'Name': 'Fujitsu'},
 {'Name': 'Winchester'}]

## 1.3 Select the name of the products with a price less than or equal to $200.

In [121]:
run("""
SELECT Name 
FROM Products
WHERE Price <= 200
""")

[{'Name': 'Memory'},
 {'Name': 'ZIP drive'},
 {'Name': 'Floppy disk'},
 {'Name': 'DVD drive'},
 {'Name': 'CD drive'},
 {'Name': 'Toner cartridge'},
 {'Name': 'DVD burner'}]

## 1.4 Select all the products with a price between $60 and $120.

In [122]:
run("""
SELECT Name, Price 
FROM Products
WHERE Price BETWEEN 60 AND 200
""")

[{'Name': 'Memory', 'Price': 120},
 {'Name': 'ZIP drive', 'Price': 150},
 {'Name': 'DVD drive', 'Price': 180},
 {'Name': 'CD drive', 'Price': 90},
 {'Name': 'Toner cartridge', 'Price': 66},
 {'Name': 'DVD burner', 'Price': 180}]

## 1.5 Select the name and price in cents (i.e., the price must be multiplied by 100).

In [123]:
run("""
SELECT Name, Price*100 AS Price_in_cents
FROM Products
""")

[{'Name': 'Hard drive', 'Price_in_cents': 24000},
 {'Name': 'Memory', 'Price_in_cents': 12000},
 {'Name': 'ZIP drive', 'Price_in_cents': 15000},
 {'Name': 'Floppy disk', 'Price_in_cents': 500},
 {'Name': 'Monitor', 'Price_in_cents': 24000},
 {'Name': 'DVD drive', 'Price_in_cents': 18000},
 {'Name': 'CD drive', 'Price_in_cents': 9000},
 {'Name': 'Printer', 'Price_in_cents': 27000},
 {'Name': 'Toner cartridge', 'Price_in_cents': 6600},
 {'Name': 'DVD burner', 'Price_in_cents': 18000}]

## 1.6 Compute the average price of all the products.

In [124]:
run("""
SELECT AVG(Price) AS Average_Price
FROM Products; 
""")

[{'Average_Price': 154.1}]

## 1.7 Compute the average price of all products with manufacturer code equal to 2.

In [125]:
run("""
SELECT AVG(Price) AS Average_Price
FROM Products
WHERE Manufacturer = 2; 
""")

[{'Average_Price': 150.0}]

## 1.8 Compute the number of products with a price larger than or equal to $180.

In [126]:
run("""
SELECT count(*)
FROM Products
Where Price >= 180
;
""")

[{'count(*)': 5}]

## 1.9 Select the name and price of all products with a price larger than or equal to $180, and sort first by price (in descending order), and then by name (in ascending order).

In [127]:
run("""
SELECT Name, Price
FROM Products
Where Price >= 180
ORDER BY Price DESC;
""")

run("""
SELECT Name, Price
FROM Products
Where Price >= 180
ORDER BY Name;
""")

[{'Name': 'Printer', 'Price': 270},
 {'Name': 'Hard drive', 'Price': 240},
 {'Name': 'Monitor', 'Price': 240},
 {'Name': 'DVD drive', 'Price': 180},
 {'Name': 'DVD burner', 'Price': 180}]

[{'Name': 'DVD burner', 'Price': 180},
 {'Name': 'DVD drive', 'Price': 180},
 {'Name': 'Hard drive', 'Price': 240},
 {'Name': 'Monitor', 'Price': 240},
 {'Name': 'Printer', 'Price': 270}]

## 1.10 Select all the data from the products, including all the data for each product's manufacturer.

In [128]:
run("""
SELECT * 
FROM Products
JOIN Manufacturers
ON Manufacturers.Code = Products.Manufacturer
""")

[{'Code': 5, 'Name': 'Fujitsu', 'Price': 240, 'Manufacturer': 5},
 {'Code': 6, 'Name': 'Winchester', 'Price': 120, 'Manufacturer': 6},
 {'Code': 4, 'Name': 'Iomega', 'Price': 150, 'Manufacturer': 4},
 {'Code': 6, 'Name': 'Winchester', 'Price': 5, 'Manufacturer': 6},
 {'Code': 1, 'Name': 'Sony', 'Price': 240, 'Manufacturer': 1},
 {'Code': 2, 'Name': 'Creative Labs', 'Price': 180, 'Manufacturer': 2},
 {'Code': 2, 'Name': 'Creative Labs', 'Price': 90, 'Manufacturer': 2},
 {'Code': 3, 'Name': 'Hewlett-Packard', 'Price': 270, 'Manufacturer': 3},
 {'Code': 3, 'Name': 'Hewlett-Packard', 'Price': 66, 'Manufacturer': 3},
 {'Code': 2, 'Name': 'Creative Labs', 'Price': 180, 'Manufacturer': 2}]

## 1.11 Select the product name, price, and manufacturer name of all the products.

In [135]:
run("""
SELECT P.Name, P.Price, M.Code, M.Name AS MName
FROM Products P
JOIN Manufacturers M
ON P.Manufacturer = M.Code
;""")

[{'Name': 'Hard drive', 'Price': 240, 'Code': 5, 'MName': 'Fujitsu'},
 {'Name': 'Memory', 'Price': 120, 'Code': 6, 'MName': 'Winchester'},
 {'Name': 'ZIP drive', 'Price': 150, 'Code': 4, 'MName': 'Iomega'},
 {'Name': 'Floppy disk', 'Price': 5, 'Code': 6, 'MName': 'Winchester'},
 {'Name': 'Monitor', 'Price': 240, 'Code': 1, 'MName': 'Sony'},
 {'Name': 'DVD drive', 'Price': 180, 'Code': 2, 'MName': 'Creative Labs'},
 {'Name': 'CD drive', 'Price': 90, 'Code': 2, 'MName': 'Creative Labs'},
 {'Name': 'Printer', 'Price': 270, 'Code': 3, 'MName': 'Hewlett-Packard'},
 {'Name': 'Toner cartridge',
  'Price': 66,
  'Code': 3,
  'MName': 'Hewlett-Packard'},
 {'Name': 'DVD burner', 'Price': 180, 'Code': 2, 'MName': 'Creative Labs'}]

## 1.12 Select the average price of each manufacturer's products, showing only the manufacturer's code.

In [138]:
run("""
SELECT M.Code, AVG(P.Price)
FROM Products P
JOIN Manufacturers M
ON P.Manufacturer = M.Code
GROUP BY M.Code
ORDER BY AVG(P.Price)
;""")

[{'Code': 6, 'AVG(P.Price)': 62.5},
 {'Code': 2, 'AVG(P.Price)': 150.0},
 {'Code': 4, 'AVG(P.Price)': 150.0},
 {'Code': 3, 'AVG(P.Price)': 168.0},
 {'Code': 1, 'AVG(P.Price)': 240.0},
 {'Code': 5, 'AVG(P.Price)': 240.0}]

## 1.13 Select the average price of each manufacturer's products, showing the manufacturer's name.

In [140]:
run("""
SELECT M.Name, AVG(P.Price)
FROM Products P
JOIN Manufacturers M
ON P.Manufacturer = M.Code
GROUP BY M.Code
ORDER BY AVG(P.Price)
;""")

[{'Name': 'Winchester', 'AVG(P.Price)': 62.5},
 {'Name': 'Creative Labs', 'AVG(P.Price)': 150.0},
 {'Name': 'Iomega', 'AVG(P.Price)': 150.0},
 {'Name': 'Hewlett-Packard', 'AVG(P.Price)': 168.0},
 {'Name': 'Sony', 'AVG(P.Price)': 240.0},
 {'Name': 'Fujitsu', 'AVG(P.Price)': 240.0}]

## 1.14 Select the names of manufacturer whose products have an average price larger than or equal to $150.

In [142]:
run("""
SELECT M.Name
FROM Products P
JOIN Manufacturers M
ON P.Manufacturer = M.Code
WHERE P.Price >= 150
GROUP BY M.Code
;""")

[{'Name': 'Sony'},
 {'Name': 'Creative Labs'},
 {'Name': 'Hewlett-Packard'},
 {'Name': 'Iomega'},
 {'Name': 'Fujitsu'}]

## 1.15 Select the name and price of the cheapest product.

In [143]:
run("""
SELECT P.Name, P.Price
FROM Products P
ORDER BY Price LIMIT 1
;""")

[{'Name': 'Floppy disk', 'Price': 5}]

## 1.16 Select the name of each manufacturer along with the name and price of its most expensive product.

In [149]:
run("""
SELECT M.Name, P.Name AS PName, P.Price
FROM Products P
JOIN Manufacturers M
ON P.Manufacturer = M.Code
WHERE MAX(M.Code, P.Price)
GROUP BY M.Name
;""")

[{'Name': 'Creative Labs', 'PName': 'DVD drive', 'Price': 180},
 {'Name': 'Fujitsu', 'PName': 'Hard drive', 'Price': 240},
 {'Name': 'Hewlett-Packard', 'PName': 'Printer', 'Price': 270},
 {'Name': 'Iomega', 'PName': 'ZIP drive', 'Price': 150},
 {'Name': 'Sony', 'PName': 'Monitor', 'Price': 240},
 {'Name': 'Winchester', 'PName': 'Memory', 'Price': 120}]

## 1.17 Add a new product: Loudspeakers, $70, manufacturer 2.

In [150]:
run("""
    INSERT INTO Products(Name, Price, Manufacturer)
    VALUES('Loudspeakers', 70, 2)
;""")

[]

## 1.18 Update the name of product 8 to "Laser Printer".

In [151]:
run("""
    UPDATE Products
    SET Name = 'Laser Printer'
    WHERE Code = 8
;""")

[]

## 1.19 Apply a 10% discount to all products.

In [153]:
run("""
    UPDATE Products
    SET Price = ROUND(Price*.9, 2)
;""")

[]

## 1.20 Apply a 10% discount to all products with a price larger than or equal to $120.

In [154]:
run("""
    UPDATE Products
    SET Price = ROUND(Price*.9, 2)
    WHERE Price >= 120
;""")

[]