In [8]:
import sqlite3
con = sqlite3.connect("SQL_6.db")
cur = con.cursor()

In [9]:
cur.execute("DROP TABLE IF EXISTS Scientists")
cur.execute("DROP TABLE IF EXISTS Projects")
cur.execute("DROP TABLE IF EXISTS AssignedTo")

In [10]:
cur.execute("""
CREATE TABLE Scientists (
  SSN int,
  Name Char(30) not null,
  Primary Key (SSN)
);
 """)

cur.execute("""
CREATE TABLE Projects (
  Code Char(4),
  Name Char(50) not null,
  Hours int,
  Primary Key (Code) 
 );
 """)

cur.execute("""
CREATE TABLE AssignedTo (
  Scientist int not null,
  Project char(4) not null,
  Primary Key (Scientist, Project)
 );
 """)

In [11]:
cur.executescript("""
INSERT INTO Scientists(SSN,Name) 
VALUES(123234877,'Michael Rogers'),
(152934485,'Anand Manikutty'),
(222364883, 'Carol Smith'),
(326587417,'Joe Stevens'),
(332154719,'Mary-Anne Foster'),	
(332569843,'George ODonnell'),
(546523478,'John Doe'),
(631231482,'David Smith'),
(654873219,'Zacary Efron'),
(745685214,'Eric Goldsmith'),
(845657245,'Elizabeth Doe'),
(845657246,'Kumar Swamy');

INSERT INTO Projects ( Code,Name,Hours)
VALUES ('AeH1','Winds: Studying Bernoullis Principle', 156),
('AeH2','Aerodynamics and Bridge Design',189),
('AeH3','Aerodynamics and Gas Mileage', 256),
('AeH4','Aerodynamics and Ice Hockey', 789),
('AeH5','Aerodynamics of a Football', 98),
('AeH6','Aerodynamics of Air Hockey',89),
('Ast1','A Matter of Time',112),
('Ast2','A Puzzling Parallax', 299),
('Ast3','Build Your Own Telescope', 6546),
('Bte1','Juicy: Extracting Apple Juice with Pectinase', 321),
('Bte2','A Magnetic Primer Designer', 9684),
('Bte3','Bacterial Transformation Efficiency', 321),
('Che1','A Silver-Cleaning Battery', 545),
('Che2','A Soluble Separation Solution', 778);

INSERT INTO AssignedTo ( Scientist, Project)
VALUES (123234877,'AeH1'),
(152934485,'AeH3'),
(222364883,'Ast3'),	   
(326587417,'Ast3'),
(332154719,'Bte1'),
(546523478,'Che1'),
(631231482,'Ast3'),
(654873219,'Che1'),
(745685214,'AeH3'),
(845657245,'Ast1'),
(845657246,'Ast2'),
(332569843,'AeH4');
""")

In [12]:
def run(cmd):
    r = cur.execute(cmd)
    display(r.fetchall())

## 6.1 List all the scientists' names, their projects' names, 
### and the hours worked by that scientist on each project, 
 ### in alphabetical order of project name, then scientist name.

In [17]:
run("""
SELECT P.Name, S.Name, P.Hours
FROM Scientists S
JOIN ASSIGNEDTO A
ON S.SSN = A.Scientist
JOIN Projects P
ON P.Code = A.Project
ORDER BY P.Name, S.Name
;""")

[('A Matter of Time', 'Elizabeth Doe', 112),
 ('A Puzzling Parallax', 'Kumar Swamy', 299),
 ('A Silver-Cleaning Battery', 'John Doe', 545),
 ('A Silver-Cleaning Battery', 'Zacary Efron', 545),
 ('Aerodynamics and Gas Mileage', 'Anand Manikutty', 256),
 ('Aerodynamics and Gas Mileage', 'Eric Goldsmith', 256),
 ('Aerodynamics and Ice Hockey', 'George ODonnell', 789),
 ('Build Your Own Telescope', 'Carol Smith', 6546),
 ('Build Your Own Telescope', 'David Smith', 6546),
 ('Build Your Own Telescope', 'Joe Stevens', 6546),
 ('Juicy: Extracting Apple Juice with Pectinase', 'Mary-Anne Foster', 321),
 ('Winds: Studying Bernoullis Principle', 'Michael Rogers', 156)]

## 6.2 Select the project names which are not assigned yet

In [29]:
run("""
SELECT P.Name
FROM Assignedto A 
RIGHT JOIN Projects P
ON P.Code = A.Project
WHERE A.Project IS NULL
;""")

[('Aerodynamics and Bridge Design',),
 ('Aerodynamics of a Football',),
 ('Aerodynamics of Air Hockey',),
 ('A Magnetic Primer Designer',),
 ('Bacterial Transformation Efficiency',),
 ('A Soluble Separation Solution',)]

In [6]:
con.close()