In [33]:
import pandas as pd

movies = pd.read_csv('Movies (clean).csv')

mv = movies

In [17]:
print(mv.columns)

Index(['MovieID', 'Title', 'MPAA Rating', 'Budget', 'Gross', 'Release Date',
       'Genre', 'Runtime', 'Rating', 'Rating Count', 'Summary'],
      dtype='object')

In [11]:
mv.loc[0:6,["Title","MPAA Rating"]]

                        Title MPAA Rating
0          Look Who's Talking       PG-13
1          Driving Miss Daisy          PG
2              Turner & Hooch          PG
3  Born on the Fourth of July           R
4             Field of Dreams          PG
5                  Uncle Buck          PG
6     When Harry Met Sally...           R

In [12]:
mv[0:3]

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000,296000000,10/12/1989,Romance,93,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000,145793296,12/13/1989,Comedy,99,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000,71079915,7/28/1989,Crime,100,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."

In [15]:
display(mv.iloc[[1,2],[0,2]])

   MovieID MPAA Rating
1        2          PG
2        3          PG

In [18]:
for x in mv:
    display(x)

'MovieID'

'Title'

'MPAA Rating'

'Budget'

'Gross'

'Release Date'

'Genre'

'Runtime'

'Rating'

'Rating Count'

'Summary'

In [23]:
mv_sorted_Title = mv.sort_values(by=['Title'])
mv_sorted_Title.head()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
149,150,101 Dalmatians,G,54000000,320689294,11/17/1996,Comedy,103,5.7,94582.0,An evil high-fashion designer plots to steal D...
281,282,2 Fast 2 Furious,PG-13,76000000,236350661,6/5/2003,Thriller,107,5.9,236645.0,Former cop Brian OConner is called upon to bus...
413,414,2012,PG-13,200000000,769653595,10/10/2009,Adventure,158,4.3,28949.0,NaN
496,497,22 Jump Street,R,50000000,188441614,6/5/2014,Comedy,112,7.0,325958.0,After making their way through high school (tw...
359,360,300,R,60000000,454161935,3/9/2007,Action,155,8.1,681249.0,NaN

In [40]:
mv.loc[mv['MPAA Rating'] == 'PG']

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
1,2,Driving Miss Daisy,PG,7500000,145793296,12/13/1989,Comedy,99,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000,71079915,7/28/1989,Crime,100,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
4,5,Field of Dreams,PG,15000000,84431625,4/21/1989,Drama,107,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
5,6,Uncle Buck,PG,15000000,79258538,8/16/1989,Family,100,7.0,77659.0,Bachelor and all-round slob Buck babysits his ...
7,8,Dead Poets Society,PG,16400000,235860116,6/2/1989,Drama,129,8.1,382002.0,English teacher John Keating inspires his stud...
...,...,...,...,...,...,...,...,...,...,...,...
604,605,How to Train Your Dragon: The Hidden World,PG,129000000,519900000,1/3/2019,Animation,104,NaN,NaN,NaN
605,606,Pokemon Detective Pikachu,PG,150000000,431600000,5/3/2019,Mystery,104,NaN,NaN,NaN
607,608,Dumbo,PG,170000000,353000000,3/11/2019,Adventure,112,NaN,NaN,NaN
609,610,Aladdin,PG,183000000,1049000000,5/8/2019,Fantasy,128,NaN,NaN,NaN
613,614,The Lion King,PG,250000000,1632000000,7/9/2019,Drama,118,NaN,NaN,NaN

In [44]:
pg_movies = mv.loc[mv['MPAA Rating'] == 'PG']
print(pg_movies['Title'])

1                              Driving Miss Daisy
2                                  Turner & Hooch
4                                 Field of Dreams
5                                      Uncle Buck
7                              Dead Poets Society
                          ...
604    How to Train Your Dragon: The Hidden World
605                     Pokemon Detective Pikachu
607                                         Dumbo
609                                       Aladdin
613                                 The Lion King
Name: Title, Length: 161, dtype: object

In [31]:
for x in mv:
    if mv.loc[mv['MPAA Rating'] == 'PG']:
        print(x)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().